### Backend ###
/target
/src/main/resources/maps

### Frontend ###
/frontend/build
/frontend/node_modules
/frontend/package-lock.json

### Data processor ###
__pycache__
/data_processor/venv
/data_processor/input
/data_processor/output
/data_processor/main.py

### IDE ###
.idea
