:root {
  --page-color: #e3f0ff;
  --control-color: #9293c4;
  --control-border-color: #7f5067;
  --text-color: #414756;
}

@font-face {
  font-family: 'MainFont';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--page-color);
  font-family: 'MainFont';
}

button {
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  color: var(--text-color);
  background-color: var(--control-color);
  font-family: 'MainFont';
  font-weight: bold;
}

button.control-inline-button {
  display: inline;
}

.scenario-picking-mode {
  cursor:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><text y="24" font-size="24">🔥</text></svg>')
      16 16,
    auto;
}

#page-container {
  margin: 30px 2vw;
}

#map-container {
  width: 80vw;
  height: 80vh;
  margin: auto;
}

#scenario-control-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#layer-control-container {
  position: absolute;
  bottom: 30px;
  right: 10px;
}
